# Bachelor Thesis

Â© 2026 Yvan Richard    
University of St. Gallen, Spring Term 2026

## Observations of Raw 5 Factors Data

---

## Foreword

The data I observe in this notebook are publicly available on Kenneth R. French [website](https://mba.tuck.dartmouth.edu/pages/faculty/ken.french/data_library.html). For the reader not familiar with the realm of empirical asset pricing, I highly recommend he familiarizes himself with this dataset.

## 1. Loading the Data

First, we should note the remark made by the authors of the data set:

> "This file was created by using the 2025-12 CRSP database. The Tbill return is the simple daily rate that, over the number of trading days compounds to 1-month TBill rate. The 1-month TBill rate data until 2024-05 are from Ibbotson Associates. Starting from 2024-06, the 1-month TBill rate is from ICE BofA US 1-Month Treasury Bill Index".

In [1]:
# libs
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Once we have loaded the relevant libraries, we can load the data in memory.

In [6]:
# read data
data = pd.read_csv("../../data/raw/5_factors_raw.csv", skiprows=4)

# drop last 3 rows (contains only footnotes)
data.drop(index=data.index[-3:], inplace=True)

# first column is not named but is the date, so we name it 'date'
data.rename(columns={data.columns[0]: 'date'}, inplace=True)

# parse date column to datetime
data['date'] = pd.to_datetime(data['date'], format='%Y%m%d')

# head
data.head()

        date  Mkt-RF   SMB   HML   RMW   CMA    RF
0 1963-07-01   -0.67  0.00 -0.34 -0.01  0.16  0.01
1 1963-07-02    0.79 -0.26  0.26 -0.07 -0.20  0.01
2 1963-07-03    0.63 -0.17 -0.09  0.18 -0.34  0.01
3 1963-07-05    0.40  0.08 -0.27  0.09 -0.34  0.01
4 1963-07-08   -0.63  0.04 -0.18 -0.29  0.14  0.01

It is also important to note that the data set is already cleaned. We just check the format of each variable by precaution:

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15729 entries, 0 to 15728
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    15729 non-null  datetime64[ns]
 1   Mkt-RF  15729 non-null  float64
 2   SMB     15729 non-null  float64
 3   HML     15729 non-null  float64
 4   RMW     15729 non-null  float64
 5   CMA     15729 non-null  float64
 6   RF      15729 non-null  float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 860.3 KB

This is all we needed to to for designing the very simple cleaning pipeline for this data set.